In [23]:
{
 "cell_type": "markdown",
 "id": "faf745f0",
 "metadata": {},
 "source": [
  "# Data Science Tools and Ecosystem"
 ]
}

{'cell_type': 'markdown',
 'id': 'faf745f0',
 'metadata': {},
 'source': ['# Data Science Tools and Ecosystem']}

In [24]:
{
 "cell_type": "markdown",
 "id": "e3a92563",
 "metadata": {},
 "source": [
  "## Abdullah Hani Abdellatif Al-Shobaki\n",
  "Data Scientist"
 ]
}

{'cell_type': 'markdown',
 'id': 'e3a92563',
 'metadata': {},
 'source': ['## Abdullah Hani Abdellatif Al-Shobaki\n', 'Data Scientist']}

In [25]:
{
 "cell_type": "markdown",
 "id": "d00ce2ec",
 "metadata": {},
 "source": [
  "In this notebook, Data Science Tools and Ecosystem are summarized."
 ]
}

{'cell_type': 'markdown',
 'id': 'd00ce2ec',
 'metadata': {},
 'source': ['In this notebook, Data Science Tools and Ecosystem are summarized.']}

In [26]:
{
 "cell_type": "markdown",
 "id": "e3a92563",
 "metadata": {},
 "source": [
  "## Data Science Libraries\n",
  "Some of the commonly used libraries used by Data Scientists include:"
 ]
}

{'cell_type': 'markdown',
 'id': 'e3a92563',
 'metadata': {},
 'source': ['## Data Science Libraries\n',
  'Some of the commonly used libraries used by Data Scientists include:']}

In [27]:
{
 "cell_type": "markdown",
 "id": "ecea0c6a",
 "metadata": {},
 "source": [
  "## Data Science Tools\n",
  "| Data Science Tools |\n",
  "|-------------------|\n",
  "| Jupyter Notebook  |\n",
  "| RStudio           |\n",
  "| VS Code           |"
 ]
}

{'cell_type': 'markdown',
 'id': 'ecea0c6a',
 'metadata': {},
 'source': ['## Data Science Tools\n',
  '| Data Science Tools |\n',
  '|-------------------|\n',
  '| Jupyter Notebook  |\n',
  '| RStudio           |\n',
  '| VS Code           |']}

In [28]:
{
 "cell_type": "markdown",
 "id": "ad581afd",
 "metadata": {},
 "source": [
  "## Introduction to Arithmetic Expressions\n",
  "Below are a few examples of evaluating arithmetic expressions in Python."
 ]
}

{'cell_type': 'markdown',
 'id': 'ad581afd',
 'metadata': {},
 'source': ['## Introduction to Arithmetic Expressions\n',
  'Below are a few examples of evaluating arithmetic expressions in Python.']}

In [29]:
{
 "cell_type": "code",
 "execution_count": 3,
 "id": "13732add",
 "metadata": {},
 "outputs": [
  {
   "name": "stdout",
   "output_type": "stream",
   "text": [
    "The result of the expression (3*4)+5 is: 17\n"
   ]
  }
 ],
 "source": [
  "# This is a simple arithmetic expression to multiply then add integers\n",
  "result = (3 * 4) + 5\n",
  "print(\"The result of the expression (3*4)+5 is:\", result)"
 ]
}

{'cell_type': 'code',
 'execution_count': 3,
 'id': '13732add',
 'metadata': {},
 'outputs': [{'name': 'stdout',
   'output_type': 'stream',
   'text': ['The result of the expression (3*4)+5 is: 17\n']}],
 'source': ['# This is a simple arithmetic expression to multiply then add integers\n',
  'result = (3 * 4) + 5\n',
  'print("The result of the expression (3*4)+5 is:", result)']}

In [30]:
{
 "cell_type": "code",
 "execution_count": 3,
 "id": "13732add",
 "metadata": {},
 "outputs": [
  {
   "name": "stdout",
   "output_type": "stream",
   "text": [
    "The result of converting 200 minutes to hours is: 3.3333333333333335\n"
   ]
  }
 ],
 "source": [
  "# This will convert 200 minutes to hours by dividing by 60\n",
  "minutes = 200\n",
  "hours = minutes / 60\n",
  "print(\"The result of converting 200 minutes to hours is:\", hours)"
 ]
}

{'cell_type': 'code',
 'execution_count': 3,
 'id': '13732add',
 'metadata': {},
 'outputs': [{'name': 'stdout',
   'output_type': 'stream',
   'text': ['The result of converting 200 minutes to hours is: 3.3333333333333335\n']}],
 'source': ['# This will convert 200 minutes to hours by dividing by 60\n',
  'minutes = 200\n',
  'hours = minutes / 60\n',
  'print("The result of converting 200 minutes to hours is:", hours)']}

In [31]:
{
 "cell_type": "markdown",
 "id": "e3a92563",
 "metadata": {},
 "source": [
  "## Objectives:\n",
  "**Some of the key takeaways from the course:**\n",
  "- List popular languages for Data Science\n",
  "- Introduce common Data Science libraries\n",
  "- Overview of Data Science tools\n"
 ]
}

{'cell_type': 'markdown',
 'id': 'e3a92563',
 'metadata': {},
 'source': ['## Objectives:\n',
  '**Some of the key takeaways from the course:**\n',
  '- List popular languages for Data Science\n',
  '- Introduce common Data Science libraries\n',
  '- Overview of Data Science tools\n']}

In [32]:
{
 "cell_type": "markdown",
 "id": "ad581afd",
 "metadata": {},
 "source": [
  "## Author\n",
  "Abdullah Hani Abdellatif Al-Shobaki"
 ]
}

{'cell_type': 'markdown',
 'id': 'ad581afd',
 'metadata': {},
 'source': ['## Author\n', 'Abdullah Hani Abdellatif Al-Shobaki']}